<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map with Routing</title>
    <link rel="stylesheet" href="{% static 'styles/style.css'%}">
    <style>@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');</style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <header>
        <nav class="nav__container">
            <ul class="list__container">
                <li class="list-element">MAIN</li>
                <li class="list-element">ABOUT US</li>
                <li class="list-element">CONTACT</li>
            </ul>
        </nav>
    </header>

    <main class="main__container">
        

        <aside class="aside__container">
            <div id="description_aside_container" class="description__container">
                <div class="route_search__container">
                    <h2 class="route_search_title">......</h2>
                    <div class="search_bar__container">
                        <input id="user_input_route_code" placeholder="M181, C918..." class="search_bar search_code" maxlength="4" autocomplete="off"></input>
                        <input id="user_input_route_course" placeholder="Ingrese ruta. Ejem: CALIDONIA" class="search_bar search_route"></input>
                    </div>
                </div>
                <div class="routes_options__container">
                    <div class="routes_options_header__container">
                        <H1 class="route_options_title">Coincidencias encontradas</H1>
                    </div>
                    <div id="route_options_item__container" class="route_option_items__container">
                        <div class="routes_options_content__container">
                                              
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapse_description_btn" class="collapse_description"></div>
        </aside>
        
        
        <section class="map_section__container">
            <div id="map"></div> <!-- Este div se encarga de crear el mapa interactivo -->
        </section>
    </main>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-pip@1.1.0/leaflet-pip.min.js"></script>
    <script src="{% static 'app.js' %}"></script>
</body>
</html>
