*{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.nav__container{
    height: 10vh;
    background-color: #3c3c3c;
}

.list__container{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    

}

.list__container li{
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: .2s;
    color: #ffffff;
}

.list__container li:hover{
    border-bottom: 2px solid #ff8c07;
}

.main__container{
   
    height: 90vh;
    display: flex;
}

.aside__container{
    position: absolute;
    height: 85%;
    max-width: 20rem;
    display: flex;
    bottom: 15px;
    left: 15px;
}

.description__container{
    position: relative;
    width: 20rem;
    height: 100%;
    
    z-index: 500;
    background-color: #3c3c3c;
    border-radius: 15px;
    border-top-right-radius: 0;

    transition: .5s;
    
    

}

.description-collapsed{
    transform: translateX(-100%); 
}


#collapse_description_btn:hover{
    background-color: lightblue;
}

.collapse_description{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ff8c07;
    left: 100%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: translateX(-20%);
    
    z-index: 999;
    transition: .5s, background-color .2s;
    
}

.collapse_mode_btn{
    right: 0;
    left: 0;
}

.map_section__container{
    
    border: 2px solid green;
    background-color: beige;
    height: 100%;
    width: 100%;
    opacity: .2;

}

#map{
    height: 100%;
    width: 100%;
}


.route_search__container{
    display: flex;
    flex-direction: column;
    
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search_bar{
    border: none;
    color: #ffffff;
    outline: #ff8c07;
    background-color: #646464;
    width: 90%;
    height: 2rem;
    padding: 4px;
    border-radius: 5px;
}